.progress_percent p {
    line-height: 0;
}

.progress_lote {
  display: none;
}

.progress_lote p {
  line-height: 0;
  display: inline-block;
}


.progress_lote {
  order: 1;
}


.progress_lote {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  margin-top: 1rem;
  max-width: 300px;
}


.progress_lote_investimento {
  max-width: 100% !important;
}

.progress_texto {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0px;
  font-weight: 600;
  color: #0f0f0f;
}


.progress_texto P {
  letter-spacing: 1px;
}

.progress_bar_container {
  background-color: rgba(255, 255, 255, 1);
  opacity: 1;
  border-radius: 2px;
  padding: 3px;
}

.progress_bar {
    background-color: #FFCC00;
    height: 100%;
    transition: width 0.5s ease;
    display: flex;
    align-items: center;
    height: 6px;
    justify-content: center;
    position: relative;
}

.progress_percent {
  color: #bec0c1;
  font-weight: 700;
  font-size: 13px;
  z-index: 2;
  white-space: nowrap;
  justify-self: center;
  margin: 0 auto;
  text-align: center;
}

.progress_percent_black {
  color: #0f0f0f!important;
}